### Data cleaning. 
### Clean MOCK_DATA (3).csv first and then load MOCK_DATA_Cleaned.csv into Postgres SQL.

In [112]:
import pandas as pd

# file paths for raw data and cleaned data
input_file = '/Users/VeraLiu_1/Downloads/MOCK_DATA (3).csv'
output_file = '/Users/VeraLiu_1/Downloads/MOCK_DATA_Cleaned.csv'

In [113]:
# read raw data file
data = pd.read_csv(input_file)
data

,id,first_name,last_name,email,Password,created_on,Unnamed: 6
0,1,Lisha,McCarrick,lmccarrick0@walmart.com,oD7.D_>pPkv#,3/4/2024,NaN
1,2,Willard,Frazier,wfrazier1@springer.com,lR2|9uhs2X,4/10/2024,NaN
2,3,Joann,Cisson,jcisson2@tamu.edu,rF0>87=!!WT/,6/2/2024,NaN
3,4,Persis,Bittlestone,pbittlestone3@sitemeter.com,"eV5.<dG_i9""\xJ",9/16/2024,NaN
4,5,Erma,Fisbey,efisbey4@google.pl,gG9*17Zlc_,7/10/2024,NaN
...,...,...,...,...,...,...,...
995,996,Melvin,Saywell,msaywellrn@stumbleupon.com,dZ0$_G}cDGx,10/30/2024,NaN
996,997,Izaak,Thirst,ithirstro@gizmodo.com,"fQ1)sgD,.<0g'BG",7/30/2024,NaN
997,998,Conny,Avraam,cavraamrp@mapquest.com,eL4<Ypv8gVz\CL,5/1/2024,NaN
998,999,Matty,Eggleson,megglesonrq@ca.gov,vQ3}Y2mc'cXGRWe,1/14/2024,NaN
999,1000,Jorgan,Isham,jishamrr@liveinternet.ru,"tN9,2P""0O2jb",7/20/2024,NaN

In [114]:
# make sure all numbers in id column are integer. 
data.iloc[1:] 
data.dtypes

id            object
first_name    object
last_name     object
email         object
Password      object
created_on    object
Unnamed: 6    object
dtype: object

In [115]:
# find the once in id column which is not integer and make it a integer
non_integers = data[~pd.to_numeric(data['id'], errors='coerce').apply(lambda x: float(x).is_integer() if not pd.isnull(x) else False)]
non_integers

,id,first_name,last_name,email,Password,created_on,Unnamed: 6
329,Goly,Giselle,Goly,ggoly95@vimeo.com,"pY5$ql\(fl~z""a8/",9/17/2024,NaN

In [116]:
# modify 'Goly' to a number: 330
data.iat[329,0] = 330
data.loc[329,'id']

330

In [117]:
# check non-null value in column: Unnamed: 6
non_null_values = data['Unnamed: 6'].notnull()

In [118]:
# Filter and display rows with non-null values in 'Unnamed: 6'
non_null_df = data[non_null_values]
print(non_null_df)

    id first_name last_name             email     Password        created_on  \
33  34       Alis    Germon  agermonx@msn.com  iS5*G19%r|o  agermonx@msn.com

   Unnamed: 6
33  7/17/2024

In [119]:
# replace contents in created_on from ' agermonx@msn.com ' to '7/17/2024 '
data.loc[data['created_on'] == 'agermonx@msn.com', 'created_on'] = '7/17/2024'

In [120]:
data.loc[33]

id                          34
first_name                Alis
last_name               Germon
email         agermonx@msn.com
Password           iS5*G19%r|o
created_on           7/17/2024
Unnamed: 6           7/17/2024
Name: 33, dtype: object

In [121]:
# combine first name and last name columns to create a new column: clientname
data['clientname'] = data['first_name'] + ' ' + data['last_name']
data['clientname'].head()
data

,id,first_name,last_name,email,Password,created_on,Unnamed: 6,clientname
0,1,Lisha,McCarrick,lmccarrick0@walmart.com,oD7.D_>pPkv#,3/4/2024,NaN,Lisha McCarrick
1,2,Willard,Frazier,wfrazier1@springer.com,lR2|9uhs2X,4/10/2024,NaN,Willard Frazier
2,3,Joann,Cisson,jcisson2@tamu.edu,rF0>87=!!WT/,6/2/2024,NaN,Joann Cisson
3,4,Persis,Bittlestone,pbittlestone3@sitemeter.com,"eV5.<dG_i9""\xJ",9/16/2024,NaN,Persis Bittlestone
4,5,Erma,Fisbey,efisbey4@google.pl,gG9*17Zlc_,7/10/2024,NaN,Erma Fisbey
...,...,...,...,...,...,...,...,...
995,996,Melvin,Saywell,msaywellrn@stumbleupon.com,dZ0$_G}cDGx,10/30/2024,NaN,Melvin Saywell
996,997,Izaak,Thirst,ithirstro@gizmodo.com,"fQ1)sgD,.<0g'BG",7/30/2024,NaN,Izaak Thirst
997,998,Conny,Avraam,cavraamrp@mapquest.com,eL4<Ypv8gVz\CL,5/1/2024,NaN,Conny Avraam
998,999,Matty,Eggleson,megglesonrq@ca.gov,vQ3}Y2mc'cXGRWe,1/14/2024,NaN,Matty Eggleson
999,1000,Jorgan,Isham,jishamrr@liveinternet.ru,"tN9,2P""0O2jb",7/20/2024,NaN,Jorgan Isham

In [122]:
# delete first_name, last_name, Unnamed: 6 columns
data = data.drop(columns=['first_name', 'last_name','Unnamed: 6' ])

In [123]:
# change the sequence of columns
data = data [['id','clientname','email','Password', 'created_on']]

In [124]:
data

,id,clientname,email,Password,created_on
0,1,Lisha McCarrick,lmccarrick0@walmart.com,oD7.D_>pPkv#,3/4/2024
1,2,Willard Frazier,wfrazier1@springer.com,lR2|9uhs2X,4/10/2024
2,3,Joann Cisson,jcisson2@tamu.edu,rF0>87=!!WT/,6/2/2024
3,4,Persis Bittlestone,pbittlestone3@sitemeter.com,"eV5.<dG_i9""\xJ",9/16/2024
4,5,Erma Fisbey,efisbey4@google.pl,gG9*17Zlc_,7/10/2024
...,...,...,...,...,...
995,996,Melvin Saywell,msaywellrn@stumbleupon.com,dZ0$_G}cDGx,10/30/2024
996,997,Izaak Thirst,ithirstro@gizmodo.com,"fQ1)sgD,.<0g'BG",7/30/2024
997,998,Conny Avraam,cavraamrp@mapquest.com,eL4<Ypv8gVz\CL,5/1/2024
998,999,Matty Eggleson,megglesonrq@ca.gov,vQ3}Y2mc'cXGRWe,1/14/2024
999,1000,Jorgan Isham,jishamrr@liveinternet.ru,"tN9,2P""0O2jb",7/20/2024

In [125]:
# export
# quoting=1 to fix the bug: in cell E5, the format of password is not showing properly.
data.to_csv(output_file, index=False, quoting=1)

### Q5. Write a Python Function that enables an user to retrieve the details of a client, given a client_id.

In [126]:
# Create a Python script (client_manager.py) to interact with the database.
# Use psycopg2 (a PostgreSQL adapter for Python) for database interaction.

!pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.11/site-packages (2.9.10)

In [127]:
# Function to connect to the database
def connect_db():
    try:
        conn = psycopg2.connect(
            database="clientdb",
            user="postgres",
            password="1234",
            host="localhost",
            port = "5432"
        )
        return conn
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        return None

In [128]:
# Function to retrieve client details by id
def get_client_details(client_id):
    conn = connect_db()
    if conn is None:
        return
    try:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM client_credentials WHERE id = %s;", (client_id,))
        client_data = cursor.fetchone()
        cursor.close()
        conn.close()
        return client_data
    except Exception as e:
        print(f"Error retrieving data: {e}")

In [129]:
# test: id = 1. 
get_client_details(1)

(1,
 'Lisha McCarrick',
 'lmccarrick0@walmart.com',
 'oD7.D_>pPkv#',
 datetime.date(2024, 3, 4))

In [ ]:
# Instructions: enter id within the bracket and you will get the client account information.
# get_client_details( )

### Q6. Write a Python function that allows the user to alter the field of a specific client, given their client_id

In [130]:
# Function to modify client details by id
def update_client_field(id, field, new_value):
    conn = connect_db()
    if conn is None:
        return
    try:
        cursor = conn.cursor()
        query = f"UPDATE client_credentials SET {field} = %s WHERE id = %s;"
        cursor.execute(query, (new_value, id))
        conn.commit()
        cursor.close()
        conn.close()
        print("Client data updated successfully.")
    except Exception as e:
        print(f"Error updating data: {e}")

In [131]:
# test: id = 1
update_client_field (1, 'email', 'helloRBC@gmail.com')

Client data updated successfully.

In [132]:
# check the new email address
get_client_details(1)

(1,
 'Lisha McCarrick',
 'helloRBC@gmail.com',
 'oD7.D_>pPkv#',
 datetime.date(2024, 3, 4))

In [ ]:
# Instructions: 1st step: enter id , 2nd step: enter the column you would like to modify , 3rd step: enter the new content you want to update)
# update_client_field ( , , )